* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    /* padding: 1.5em; */
    color: #222;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.027rem;
    font-weight: 500;
    
}

h2 {
    font-size: 1.802rem;
    font-weight: 700;
}

h3 {
    font-size: 1.266rem;
    font-weight: 700; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
}

.intro {
    padding: 0em 1em 2em 1em;
}

.logo {
    width: 30%;
}

nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase ;
    font-weight: 500;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    display: inline-block;
    padding: 0.25em 0.5em;
    color: black;
}

nav ul li a:hover,
nav ul li a:focus {
    display: inline-block;
    color: #fff;
    background-color: black;
    padding: 0.25em 0.5em;
    /* border: 2px solid #000; */
    border-radius: 4px;
    margin-bottom: auto;
}

.pkg {
    display: grid;
    /* padding: 1em; */
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr, 1fr;
    grid-template-areas: 
    "pkg1 pkg1 pkg1"
    "pkg2 pkg3 pkg4"
    ;
}

.pkg .product:nth-child(1) {
    grid-area: pkg1;
    border-radius: 8px;
}

.pkg .product:nth-child(2) {
    grid-area: pkg2;
    border-radius: 8px;
}

.pkg .product:nth-child(3) {
    grid-area: pkg3;
    border-radius: 8px;
}

.pkg .product:nth-child(4) {
    grid-area: pkg4;
    border-radius: 8px;
}

.limited {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.button {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 0.75rem;
    background-color: #000;
    padding: 0.5em 1em;
    border-radius: 4px;
    margin-bottom: auto;
}

.behind {
    background-color: #dcdce4;
    padding: 1em
}

.saying {
    background-color: #000;
    color: #fff;
    padding: 1em;
}

.reviews {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "rvw1"
    "rvw2"
    "rvw3"
    ;
}

.titles {
    text-align: center;
}

.flavours {
    display: grid;
    text-align: center;
    gap: 1em;
    padding: 1em;
    /* background-color: #dcdce4; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "div1 div2"
    "div3 div4"
    ;
}

.flavours div {
    background-color: #dcdce4;
    border-radius: 8px;
}

.flavours img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}