* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    padding: 1.5em;
}
h1 {
    font-size: 2.027rem;
    font-weight: 500;
}

h2 {
    font-size: 1.802rem;
    font-weight: 700;
}

h3 {
    font-size: 1.266rem;
    font-weight: 700; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30%;
}

nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase ;
    font-weight: 500;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    margin: 0 1em;
    color: black;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #fff;
    background-color: black;
    padding: 0.8em 1em;
    border: 2px solid #000;
    border-radius: 4px;
}

.pkg {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "pkg1 pkg1 pkg1"
    "pkg2 pkg3 pkg4"
    ;
}

.pkg .product:nth-child(1) {
    grid-area: pkg1;
    border: 2px solid white;
    border-radius: 8px;
}

.pkg .product:nth-child(2) {
    grid-area: pkg2;
    border: 2px solid white;
    border-radius: 8px;
}

.pkg .product:nth-child(3) {
    grid-area: pkg3;
    border: 2px solid white;
    border-radius: 8px;
}

.pkg .product:nth-child(4) {
    grid-area: pkg4;
    border: 2px solid white;
    border-radius: 8px;
}